.EmployeeCard{
    background-color:midnightblue;
    margin: 0 auto;
    box-shadow: 2px 4px 2px #333;
    max-width: 300px;
    padding: 1rem 3rem;
  }
  h2{
    font-family:"Chakra Petch";
  }
  p{
    font-family: "Hina Mincho";
  }