@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Hina+Mincho&display=swap');

/* Mostly used MUI so these are not used  */
:root {
  /* Palette */
  --color-primary-main: #1976d2; /* Blue */
  --color-secondary-main: #ff4081; /* Pink */
  --color-background-default: #f4f6f8; /* Light gray */
  --color-background-paper: #ffffff; /* White for cards or paper components */
  --color-text-primary: #333333; /* Dark gray for primary text */
  --color-text-secondary: #666666; /* Lighter gray for secondary text */

  /* Typography */
  --font-family-base: 'Chakra Petch', 'Libre Caslon Display', 'Arial', sans-serif;
  --font-family-heading: 'Libre Caslon Display', 'Arial', sans-serif;
  --font-family-body: 'hina mincho', serif;

  --font-size-h1: 2.5rem;
  --font-weight-h1: 700;

  --font-size-h2: 2rem;
  --font-weight-h2: 600;

  --font-size-body1: 1.1rem;
  --line-height-body1: 1.5;

  --font-size-body2: 0.875rem;
  --line-height-body2: 1.43;

  /* Shape */
  --border-radius: 8px; /* Global border radius for components */
}