/* Details.css */
.details-container {
    display: flex;
    justify-content: center ;
    align-items: center !important;
    width: 100% !important;
    background-color: #f4f6f8; 
    padding: 20px;
  }
  
  .details-container .business-card  {
    display: flex;
    align-items: center;
   
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* White card */
  }
  
  .business-avatar {
    width: 150px !important;
    height: 150px !important;
    margin-right: 20px !important;
    border: 2px solid #1976d2; /* Primary color border */
  }
  
  .business-content {
    flex: 1;
  }
  
  .employee-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333; /* Dark gray */
    margin-bottom: 10px;
  }
  
  .employee-role,
  .employee-sector,
  .employee-email,
  .employee-start-date {
    font-size: 1rem;
    color: #666666; /* Lighter gray */
    margin-bottom: 5px;
  }
  
  .employee-role strong,
  .employee-sector strong,
  .employee-email strong,
  .employee-start-date strong {
    color: #1976d2; /* Primary color */
  }